root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bash}]
indent_style = space
indent_size = 2
# shfmt
shell_variant = bash
switch_case_indent = true
space_redirects = false
binary_next_line = true

[*.swift]
indent_style = space
indent_size = 4

[*.{patch,diff}]
trim_trailing_whitespace = false
